<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="ODBC" value="" />
		<add key="UsuarioODBC" value="" />
		<add key="ContrasenaODBC" value="" />
		<add key="ActivarSplash" value="false" />
		<add key="TipoSplash" value="T" />
		<add key="PuertoTCP" value="9101" />
		<add key="COMNV22" value="COM1" />
		<add key="SSPNV22" value="0" />
		<add key="COMHopper" value="COM1" />
		<add key="SSPHopper" value="16" />
		<add key="Audio" value="Silencio" />
		<add key="Duracion" value="5" />
		<add key="Ancho" value="0" />
		<add key="Alto" value="0" />
		<add key="TipoTurnero" value="S" />
		<add key="ProtocoloTurnero" value="T" />
		<add key="TurnosAnteriores" value="3" />
		<add key="Clientes" value="" />
		<add key="Voz" value="false" />
		<add key="TipoVoz" value="" />
		<add key="MostrarNombres" value="false" />
		<add key="Version" value="2.0.0" />
	</appSettings>
</configuration>