<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="Correo" value="" />
		<add key="CodigoActivacion" value="" />
		<add key="Llave" value="" />
		<add key="LlaveTemp" value="" />
		<add key="ODBC" value="" />
		<add key="UsuarioODBC" value="" />
		<add key="ContrasenaODBC" value="" />
		<add key="Turnero" value="false" />
		<add key="TipoTurnero" value="S" />
		<add key="ProtocoloTurnero" value="A" />
		<add key="PuertoTurnero" value="9101" />
		<add key="AudioTurnero" value="Silencio" />
		<add key="DuracionTurnero" value="5" />
		<add key="Clientes" value="" />
		<add key="MostrarNombres" value="false" />
		<add key="Version" value="1.0.0.0" />
	</appSettings>
</configuration>