<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Priceio.Properties.ESP_MX_" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Priceio.Properties.ENG_US_" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            </sectionGroup>
    </configSections>
	<appSettings>
		
		<add key="Chanel1Spectral" value="false" />
		<add key="Chanel2Spectral" value="false" />
		<add key="Chanel3Spectral" value="false" />
		<add key="Chanel4Spectral" value="false" />
		<add key="Chanel5Spectral" value="false" />
		<add key="Chanel6Spectral" value="false" />
		<add key="Chanel1MinSpectral" value="5" />
		<add key="Chanel2MinSpectral" value="5" />
		<add key="Chanel3MinSpectral" value="5" />
		<add key="Chanel4MinSpectral" value="5" />
		<add key="Chanel5MinSpectral" value="0" />
		<add key="Chanel6MinSpectral" value="0" />
		<add key="Chanel1MaxSpectral" value="5" />
		<add key="Chanel2MaxSpectral" value="5" />
		<add key="Chanel3MaxSpectral" value="5" />
		<add key="Chanel4MaxSpectral" value="5" />
		<add key="Chanel5MaxSpectral" value="0" />
		<add key="Chanel6MaxSpectral" value="0" />
		<add key="PagoMinSpectral" value="1" />
		<add key="PagoMaxSpectral" value="99" />

		
		<add key="Chanel1Hopper" value="true" />
		<add key="Chanel2Hopper" value="true" />
		<add key="Chanel3Hopper" value="true" />
		<add key="Chanel4Hopper" value="true" />
		<add key="Chanel1MinHopper" value="10" />
		<add key="Chanel2MinHopper" value="10" />
		<add key="Chanel3MinHopper" value="10" />
		<add key="Chanel4MinHopper" value="10" />
		<add key="Chanel1MaxHopper" value="100" />
		<add key="Chanel2MaxHopper" value="90" />
		<add key="Chanel3MaxHopper" value="80" />
		<add key="Chanel4MaxHopper" value="70" />
		<add key="PagoMinHopper" value="1" />
		<add key="PagoMaxHopper" value="99" />
		
		<!--Configuracion Impresora-->
		<add key="Impresora" value="POS58"/>
		<add key="TipoLetraImpresora" value="Courier New"/>
		<add key="TamanoLetraImpresora" value="8"/>
		<add key="NegritaLetraImpresora" value="true"/>
		<add key="CursivaLetraImpresora" value="false"/>
		<add key="LogoImpresora" value=""/>
		<add key="TamanoLogoImpresora" value="70"/>
		<add key="CordenadaXLogo" value="0"/>
		<add key="CordenadaYLogo" value="0"/>

		<add key="Version" value="3.0.0" />

	</appSettings>
 <userSettings>
  <Priceio.Properties.ESP_MX_>
   <setting name="Archivo" serializeAs="String">
    <value>Archivo</value>
   </setting>
  </Priceio.Properties.ESP_MX_>
  <Priceio.Properties.ENG_US_>
   <setting name="Archivo" serializeAs="String">
    <value>File</value>
   </setting>
  </Priceio.Properties.ENG_US_>
 </userSettings>
</configuration>